@use "mixins" as m;

.footer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-top: 1px dotted white;

  @include m.large {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    text-align: left;
  }

  &__email,
  &__linkedin {
    text-decoration: none;
  }

  &__linkedin {
    padding-right: 0.5em;
  }

  &__pdf {
    &__link {
      text-decoration: none;
      padding-right: 0.5em;
    }

    :hover {
      text-decoration: underline;
    }
  }
}
